.manoa-landing-background {
  background: url(https://d3583ivmhhw2le.cloudfront.net/images/uploads/blog/Manoa_Stream_Clean_up_2018.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 500px;
  color: white;
}

.slide-container {
  width: 70%;
  margin: auto; }

h3 {
  text-align: center; }

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #024731;
}

.userprofile.card.header {
  font-size: 250% !important;
}

.userprofile.card.content {
  font-size: 150% !important;
}

.userprofile.card {
  width: 60% !important;
}

.userprofile.card.content.header {
  font-weight: bold !important;
  font-style: italic !important;
  font-size: 100% !important;
}

